<div class="container">
  <h1>Meta Mask Connecter</h1>
  <button id="connect-btn" [ngClass]="{'btn-success': connected}" (click)="connectToMetaMask()">{{connecting ? "Connecting..." : connected ? 'Connected Successfully' : 'Connect' }}</button>  
  <div class="account-details-card" *ngIf="connected">
    <div class="row" >
      <div class="col-md-6">
        <h2 class="card-title">Wallet Details</h2>
        <div *ngIf="connected">
          <div class="account-details-card-item">
            <p class="font-bold">Wallet Address</p>
            <span>{{walletAddress}}</span>
          </div>
          <div class="account-details-card-item">
            <p class="font-bold">Wallet Balance</p>
            <span>{{walletBalance}} ETH</span>
        </div>
      </div> 
  </div>
  
</div>